/Bukkit/target/
/Bukkit/Bukkit.iml
/target/
/.idea/
/Core/target/
/Core/Core.iml
/Core/TNIL-Core.iml
/TNIL-Sponge/TNIL-Sponge.iml
/TNIL-Sponge7/TNIL-Sponge7.iml
/Minestom/TNIL-Minestom.iml
/Minestom/target/
/.gradle/
/Paper/target/
/Paper.iml
/TNIL.iml
/Paper/TNIL-Paper.iml
/BukkitBase.iml
/BukkitBase/target/
